<h1>Open Client</h1>
    <form  #OpenClientForm="ngForm" (ngSubmit)="onSubmit()" >
     <div class="row">
      <div class="form-group  col-sm-5">
        <label for="client">Name</label>
        <span name="client" class="form-control"> {{gs.gv[0].name}}</span>
      </div>
     </div>
     <div class="row" >
      <div class="form-group  col-sm-5 ">
        <label for="years">FYE:</label>
        <select  [(ngModel)]="fye" name="years"  class="form-control" id="years" #years="ngModel" required>
          <option></option>
         <option  *ngFor="let yr of fyes" [value]="yr"> {{yr | date }} </option>
       </select>
       <div [hidden]="years.valid || years.pristine"
        class="alert alert-danger">
        Fiscal Tear End is Required
       </div>
      </div>
     </div>
     <div class="row">   
      <button style="margin-left:20px" type="submit" class="btn btn-primary" [disabled]="!OpenClientForm.form.valid">Submit</button>
      
      
     </div>
    </form>